* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: left;
}

a:focus, a:hover {
  color: unset;
  text-decoration: unset;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: unset;
  border: unset;
}

.btn.focus, .btn:focus, .btn:hover {
  color: 'unset';
}

label {
  margin: 0;
  font-weight: 100;
}

.btn {
  width: 100%;
  border-radius: 8px;
  border: none;
}

.btn--blue {
  background-color: #7948CE;
  color: #fff;
}

.btn--blue:hover {
  color: #fff;
}

.btn--light {
  background-color: #fff;
  color: #7948CE;
}

.btn--light:hover {
  color: #7948CE;
}

.title {
  color: #343643;
  font-size: 24px;
}

.section-title {
  margin-bottom: 59px;
}

.page__title {
  margin-top: 77px;
}

.hover {
  -webkit-transition: .3s;
  transition: .3s;
}

.hover--text {
  padding: 0 60px 40px 60px;
}

.hover--image {
  -webkit-transition: .3s;
  transition: .3s;
  padding: 60px 60px 0 60px;
}

.hover:hover .hover--image {
  padding: 0;
}

.main-slider {
  display: block;
  margin-top: 50px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.main-slider__item {
  width: 100%;
  height: 100vw;
  max-height: 560px;
  background-size: cover;
  background-position: center;
}

.main-slider__item--text {
  width: 70%;
  padding: 100px;
}

.main-slider__desc {
  font-size: 16px;
}

.main-slider__desc--head {
  color: #343643;
}

.main-slider__desc--footer {
  color: #9495A5;
}

.main-slider__title {
  padding: 20px 0 17px 0;
  color: #343643;
  font-size: 34px;
  line-height: 48px;
}

.main-slider__detail {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-slider__detail--link {
  padding: 17px 30px;
  border-radius: 8px;
  border: 1px solid #9495A5;
  text-decoration: none;
  font-size: 16px;
  color: #343643;
}

.main-slider__detail--link:hover {
  background-color: #343643;
  color: #fff;
}

.main-slider__detail--link:hover svg path {
  fill: #fff;
  stroke: #fff;
}

.main-slider__detail--link svg {
  margin-left: 15px;
}

.main-slider__dots {
  bottom: 65px;
  left: 100px;
  position: absolute;
  z-index: 1;
}

.main-slider__dots--item {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #9495A5;
  font-size: 16px;
  cursor: pointer;
}

.main-slider__dots--item.active {
  border: 1px solid #9495A5;
  color: #343643;
}

.partners-slider {
  margin: 100px 0;
}

.partners-slider__item {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-slider__item:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.partners-slider__item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  max-width: 100%;
  max-height: 100%;
}

.dropdown-menu {
  z-index: 1 !important;
}

.login__select {
  width: 100%;
  margin-top: 24px;
}

.login__select--btn {
  width: 100%;
  background-color: #fff;
  border: 1px solid #DEDFE4;
  border-radius: 8px !important;
  padding: 19px 30px;
  overflow: hidden;
}

.login__select--text {
  color: #9495A5;
  font-size: 14px;
}

.login__select--item {
  color: #9495A5;
  font-size: 14px;
}

.login__check {
  margin-top: 25px;
}

.login__check--input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  background-color: #DEDFE4;
}

.login__check--input:checked ~ .login__check--checked {
  border: 1px solid #7948CE;
}

.login__check--input:checked ~ .login__check--checked img {
  display: block;
}

.login__check--checked {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: 1px solid #DEDFE4;
  border-radius: 3px;
}

.login__check--checked img {
  display: none;
}

.login__check--text {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9495A5;
  font-size: 16px;
}

.login__check--text a {
  margin-left: 5px;
  color: #7948CE;
  text-decoration: none;
}

.active > .login__check--text {
  color: #5D5E69;
}

.login__radio {
  margin-top: 24px;
  margin-right: 26px;
}

.login__radio--input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  background-color: grey;
}

.login__radio--input:checked ~ .login__radio--radioed {
  border: 3px solid #7948CE;
}

.login__radio--radioed {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: 1px solid #9495A5;
  border-radius: 50%;
}

.login__radio--text {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9495A5;
  font-size: 16px;
}

.login__radio--text a {
  margin-left: 5px;
  color: #1997E2;
  text-decoration: none;
}

.active > .login__radio--text {
  color: #5D5E69;
}

.login__input {
  width: 100%;
  padding: 19px 30px;
  margin-top: 24px;
  background-color: #fff;
  border: 1px solid #DEDFE4;
  border-radius: 8px !important;
  color: #9495A5;
  font-size: 14px;
  outline: none;
}

.login__btn {
  margin-top: 36px;
  padding: 18px 0;
  font-size: 16px;
}

.login__upload {
  width: 100%;
  padding: 19px 30px;
  margin-top: 24px;
  background-color: #fff;
  border: 1px solid #DEDFE4;
  border-radius: 8px !important;
  cursor: pointer;
}

.login__upload--input {
  width: 1px;
  height: 10px;
  position: absolute;
  z-index: -2;
  opacity: 0;
}

.login__upload--name {
  color: #9495A5;
  font-size: 14px;
  font-weight: 100;
}

.login__image {
  width: 100%;
  height: 150px;
  margin-top: 24px;
  background-color: #fff;
  border: 1px solid #7948CE;
  border-radius: 8px !important;
  border-style: dashed;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.login__image--input {
  width: 1px;
  height: 10px;
  position: absolute;
  z-index: -2;
  opacity: 0;
}

.login__image--name {
  color: #7948CE;
  font-size: 16px;
  font-weight: 100;
}

.login__image--upload {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.login__image--delete {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 124px;
  background-color: #fff;
  top: 0;
  margin-bottom: 22px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
}

.header.active {
  -webkit-box-shadow: 0px 3px 20px rgba(151, 153, 193, 0.13);
          box-shadow: 0px 3px 20px rgba(151, 153, 193, 0.13);
}

.header__active {
  -webkit-box-shadow: 0px 3px 20px rgba(151, 153, 193, 0.13);
          box-shadow: 0px 3px 20px rgba(151, 153, 193, 0.13);
}

.header__active--back {
  color: #343643;
  font-size: 16px;
}

.header__active--back img {
  margin-right: 12px;
}

.header__menu {
  height: 100%;
}

.header__menu--item {
  margin-right: 42px;
  list-style: none;
}

.header__menu--link {
  color: #343643;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}

.header__menu--link:hover {
  color: #7948CE;
}

.header__menu--link.active {
  color: #7948CE;
}

.header__lang {
  padding: 0 30px;
  border-left: 1px solid #C9CAD2;
  list-style: none;
}

.header__login {
  margin-left: 10px;
  list-style: none;
}

.header__login--btn {
  padding: 19px 38px;
  border-radius: 8px;
  border: 1px solid #7948CE;
  text-decoration: none;
  font-size: 14px;
  color: #7948CE;
  text-decoration: none;
}

.header__login--btn:hover {
  background-color: #7948CE;
  color: #fff;
}

.calc {
  padding: 19px 47px;
  border: none;
  outline: none;
  cursor: pointer;
}

.search {
  width: 100%;
  position: relative;
}

.search__input {
  width: 100%;
  padding: 20px 30px;
  background-color: #F8F8F8;
  border-radius: 8px;
  color: #9495A5;
  font-size: 14px;
  border: none;
  outline: none;
}

.search__btn {
  position: absolute;
  right: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.products {
  margin-bottom: 100px;
}

.products__container {
  margin-left: -60px;
  margin-right: -60px;
}

.products__cover {
  height: 100vw;
  max-height: 376px;
  background-size: cover;
}

.products__page {
  margin-top: 55px;
}

.products__title {
  display: block;
}

.products__lists-link {
  color: #343643;
  font-size: 16px;
  text-decoration: none;
}

.products__lists-link img {
  margin-left: 8px;
}

.products__item {
  display: block;
  padding: 90px 70px;
  margin: 0 20px 30px 20px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 14px;
  overflow: hidden;
}

.products__item--icon {
  margin-bottom: 48px;
}

.products__item--title {
  margin-bottom: 18px;
  color: #343643;
  font-size: 18px;
}

.products__item--desc {
  color: #5D5E69;
  font-size: 14px;
}

.products__item:hover {
  -webkit-box-shadow: 0px 6px 54px rgba(151, 153, 193, 0.16);
          box-shadow: 0px 6px 54px rgba(151, 153, 193, 0.16);
}

.products__detail--btn {
  max-width: 300px;
  width: 100%;
  margin-top: 78px;
  padding: 17px 0;
}

.products__detail--item {
  padding: 70px 0 100px 100px;
  width: 100%;
  max-width: 679px;
}

.products__detail--title {
  font-size: 30px;
  padding: 67px 0 18px 0;
}

.news-slider {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

.news-slider__item {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.news-slider__item--img {
  width: 100%;
  height: 240px;
  margin-bottom: 39px;
}

.news-slider__item--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-slider__item--date {
  color: #9495A5;
  font-size: 14px;
}

.news-slider__item--title {
  margin-top: 9px;
  color: #343643;
  font-size: 18px;
}

.news-slider__item--desc {
  margin-top: 20px;
  color: #5D5E69;
  font-size: 14px;
}

.news-slider--btn {
  margin-left: 10px;
  cursor: pointer;
}

.consultation {
  background: #d8ecff;
  background: -webkit-gradient(linear, left top, right top, from(#d8ecff), to(#f9efff));
  background: linear-gradient(90deg, #d8ecff 0%, #f9efff 100%);
  border-radius: 14px;
  overflow: hidden;
  padding: 100px 120px;
}

.consultation__form {
  width: 50%;
  padding-right: 70px;
}

.consultation__form--selectpicker {
  width: 100%;
  margin-left: 20px;
}

.consultation__form--textarea {
  margin-top: 14px;
  resize: none;
}

.consultation__form--input {
  width: 100%;
  background-color: #fff;
  padding: 19px 30px;
  border-radius: 8px !important;
  overflow: hidden;
  outline: none;
  border: none;
}

.consultation__form--input--text {
  color: #9495A5 !important;
  font-size: 14px;
}

.consultation__form--button {
  margin-top: 40px;
  padding: 17px 82px;
  color: #fff;
  font-size: 16px;
  background-color: #343643;
  border-radius: 8px;
  border: none;
  outline: none;
}

.consultation__text {
  width: 50%;
  padding-left: 70px;
}

.consultation__text--title {
  margin-bottom: 40px;
  color: #343643;
  font-size: 34px;
}

.consultation__text--desc {
  color: #9495A5;
  font-size: 16px;
}

.contact__list {
  padding-left: 140px;
  border-left: 1px solid rgba(148, 149, 165, 0.16);
}

.contact__list--item {
  list-style: none;
  margin-bottom: 32px;
}

.contact__list--link {
  color: #343643;
  font-size: 16px;
  text-decoration: none;
}

.contact__list--link img {
  margin-right: 24px;
}

.offer {
  margin-top: 60px;
}

.offer__item {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  display: block;
}

.offer__item--status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 30px;
  left: -4px;
  background-color: #7948CE;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  z-index: 1;
}

.offer__item--status img {
  margin-right: 6px;
}

.offer__item--status:before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  right: -10px;
  top: 0;
  display: block;
  background-color: #7948CE;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 0 50%);
          clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 0 50%);
}

.offer__item--figure {
  width: 100%;
  height: 240px;
  margin-bottom: 30px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}

.offer__item--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer__item--price-head {
  margin-bottom: 6px;
  color: #5D5E69;
  font-size: 14px;
}

.offer__item--price {
  margin-bottom: 20px;
  color: #343643;
  font-size: 30px;
}

.offer__item--price p {
  font-size: 20px;
}

.offer__item--title {
  margin-bottom: 11px;
  color: #343643;
  font-size: 18px;
}

.offer__item--desc {
  margin-bottom: 32px;
  color: #5D5E69;
  font-size: 16px;
}

.offer__item--btn {
  width: 180px;
  padding: 15px 0;
  background-color: transparent;
  border: 1px solid #5D5E69;
  color: #343643;
  font-size: 16px;
}

.offer__item--btn:hover {
  background-color: #343643;
  color: #fff;
}

.offer__item--star {
  color: #343643;
  font-size: 20px;
}

.offer__item--star img {
  margin-left: 8px;
}

.offer__support {
  padding: 18px 38px;
  background-color: rgba(121, 72, 206, 0.1);
  border-radius: 8px;
  color: #7948CE;
  font-size: 16px;
  border: none;
  outline: none;
}

.offer__support img {
  margin-right: 13px;
}

.offer-detail {
  margin-top: 60px;
}

.offer-detail__item {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  display: block;
}

.offer-detail__item--status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 30px;
  left: -4px;
  background-color: #7948CE;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  z-index: 1;
}

.offer-detail__item--status img {
  margin-right: 6px;
}

.offer-detail__item--status:before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  right: -10px;
  top: 0;
  display: block;
  background-color: #7948CE;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 0 50%);
          clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 0 50%);
}

.offer-detail__item--figure {
  width: 100%;
  height: 100vw;
  max-height: 400px;
  margin-bottom: 60px;
  border-radius: 12px;
  overflow: hidden;
}

.offer-detail__item--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer-detail__item--price {
  color: #343643;
  font-size: 41px;
}

.offer-detail__item--title {
  margin-top: 17px;
  color: #343643;
  font-size: 24px;
}

.offer-detail__item--desc {
  margin-top: 39px;
  margin-bottom: 78px;
  color: #5D5E69;
  font-size: 16px;
  line-height: 24px;
}

.offer-detail__item--btn {
  width: auto;
  padding: 17px 53px;
  margin-right: 42px;
  font-size: 16px;
}

.offer-detail__item--star {
  margin-left: 39px;
}

.offer-detail__support {
  padding: 18px 38px;
  background-color: rgba(121, 72, 206, 0.1);
  border-radius: 8px;
  color: #7948CE;
  font-size: 16px;
  border: none;
  outline: none;
}

.offer-detail__support:hover {
  color: #7948CE;
}

.offer-detail__support img {
  margin-right: 13px;
}

.offer-faq {
  width: 100%;
  margin-top: 98px;
}

.offer-faq__item {
  width: 100%;
  margin-bottom: 48px;
}

.offer-faq__item--head {
  color: #343643;
  font-size: 18px;
  cursor: pointer;
}

.offer-faq__item--head img {
  margin-left: 21px;
}

.offer-faq__item--head.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.offer-faq__item--body {
  display: none;
  margin-top: 24px;
  padding-left: 15px;
}

.offer-faq__item--body.active {
  display: block;
}

.offer-faq__item--text {
  margin-bottom: 16px;
  color: #5D5E69;
  font-size: 16px;
}

.faq {
  margin-left: -60px;
  margin-right: -60px;
}

.faq__item {
  width: 100%;
  padding: 50px 60px 0 60px;
}

.faq__item--icon {
  margin-top: 5px;
  margin-right: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.faq__item.active {
  -webkit-box-shadow: 0px 6px 54px rgba(151, 153, 193, 0.16);
          box-shadow: 0px 6px 54px rgba(151, 153, 193, 0.16);
}

.faq__item.active .faq__item--head {
  border-bottom: 1px solid transparent;
  color: #7948CE;
}

.faq__item.active .faq__item--icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.faq__item--head {
  border-bottom: 1px solid rgba(151, 153, 193, 0.16);
  padding-bottom: 58px;
  color: #343643;
  font-size: 18px;
  cursor: pointer;
}

.faq__item--body {
  display: none;
  color: #343643;
  font-size: 16px;
  padding-bottom: 60px;
}

.faq__item--body.active {
  display: block;
}

.login {
  width: 100%;
  height: 100vh;
}

.login__header {
  width: 100%;
  position: relative;
  padding: 35px 0;
}

.login__cover {
  width: calc(50% - 97px);
  height: 100%;
  top: 0;
  display: block;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

.login__cover--bg {
  width: 100%;
  height: 100%;
  display: block;
  background: #d8ecff;
  background: linear-gradient(156deg, #d8ecff 0%, #f9efff 100%);
}

.login__text {
  height: 100%;
  padding-right: 143px;
}

.login__text--head {
  margin-bottom: 16px;
  color: #343643;
  font-size: 18px;
}

.login__text--title {
  margin-bottom: 36px;
  color: #343643;
  font-size: 62px;
}

.login__text--blue {
  color: #7948CE;
}

.login__text--desc {
  color: #9495A5;
  font-size: 18px;
}

.login__text--link-out {
  margin-top: 100px;
}

.login__form {
  padding-left: 63px;
}

.login__form--header {
  color: #474B4E;
  font-size: 24px;
  margin-bottom: 49px;
}

.login__form__label-out {
  margin-bottom: 24px;
}

.login__form__label {
  border: 1px solid #DEDFE4;
  border-radius: 8px;
}

.login__form__input {
  outline: none;
  border: none;
}

.registration-user-tab {
  display: none;
}

.insurance__tab {
  max-width: 546px;
  width: 100%;
}

.insurance__tab--item {
  height: 109px;
  position: relative;
}

.insurance__tab--item.active .insurance__tab--num-in {
  width: 54px;
  height: 54px;
  border: 1px solid #7948CE;
  color: #7948CE;
}

.insurance__tab--item.active .insurance__tab--title {
  color: #343643;
  font-size: 20px;
}

.insurance__tab--num-out {
  position: relative;
  height: 100%;
}

.insurance__tab--num {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.insurance__tab--num-in {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #DEDFE4;
  background-color: #fff;
  color: #9495A5;
  font-size: 18px;
}

.insurance__tab--line {
  width: 1px;
  height: 100%;
  background-color: #DEDFE4;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.insurance__tab--title {
  padding-top: 12px;
  padding-left: 40px;
  color: #9495A5;
  font-size: 18px;
}

.insurance__form {
  width: 100%;
  padding-left: 43px;
}

.insurance__form--btn {
  border: 1px solid #7948CE;
}

.insurance__info {
  background-color: #fff;
  padding: 48px 35px;
  margin-left: -35px;
  margin-right: -35px;
  border: 8px;
  border-bottom: 1px solid #DEDFE4;
}

.insurance__info svg {
  stroke: #343643;
  margin-right: 27px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 8px;
}

.insurance__info.active {
  -webkit-box-shadow: 0px 6px 54px rgba(151, 153, 193, 0.16);
          box-shadow: 0px 6px 54px rgba(151, 153, 193, 0.16);
}

.insurance__info.active svg {
  stroke: #7948CE;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.insurance__info--item {
  width: 100%;
}

.insurance__info--head {
  color: #343643;
  font-size: 18px;
}

.insurance__info--head.active {
  color: #7948CE;
}

.insurance__info--body-in {
  width: 100%;
  padding: 12px 0;
}

.insurance__info--body {
  display: none;
  padding-top: 12px;
}

.insurance__info--body.active {
  display: block;
}

.insurance__info--title {
  color: #9495A5;
  font-size: 14px;
}

.insurance__info--desc {
  max-width: 60%;
  color: #343643;
  font-size: 16px;
  text-align: right;
}

.insurance__info--desc a {
  color: #7948CE;
  text-decoration: none;
}

.tab {
  display: none;
}

.tab__title {
  margin-bottom: 28px;
  color: #343643;
  font-size: 18px;
}

.tab__item {
  margin-bottom: 23px;
}

.tab__item--section-title {
  margin-top: 29px;
  color: #343643;
  font-size: 16px;
}

.tab__item--title {
  color: #9495A5;
  font-size: 14px;
}

.tab__item--desc {
  color: #343643;
  font-size: 16px;
}

.tab__item--sms {
  position: relative;
}

.tab__item--sms-btn {
  margin-top: 24px;
  position: absolute;
  right: 22px;
  color: #7948CE;
  font-size: 14px;
  cursor: pointer;
  font-weight: 100;
}

.tab__item--sms-input {
  margin-bottom: 0;
  color: #9495A5;
  font-size: 14px;
  font-weight: 100;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

.ganvadeba {
  display: none;
}

.add-drive {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: transparent;
  outline: none;
  color: #7948CE;
  font-size: 16px;
}

.add-drive img {
  margin-right: 6px;
}

.driver-form {
  margin-bottom: 30px;
  display: none;
}

.driver-form.active {
  display: block;
}

.yesorno {
  display: none;
}

.js-driver-license {
  display: none;
}

.insource-for {
  display: none;
}

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: rgba(52, 54, 67, 0.3);
  z-index: 9;
  top: 0;
  left: 0;
}

.popup__container {
  max-width: 660px;
  width: 100%;
  max-height: 460px;
  height: 100%;
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 56px #9799C1;
          box-shadow: 0px 3px 56px #9799C1;
}

.popup__container--content {
  width: 100%;
  height: 100%;
}

.popup__container--cancel {
  cursor: pointer;
}

.popup__container--title {
  margin-top: 68px;
  color: #343643;
  font-size: 18px;
  text-align: center;
}

.popup__container--desc {
  margin-top: 8px;
  color: #B6B8B8;
  font-size: 16px;
}

.about__text {
  color: #5D5E69;
  font-size: 16px;
}

.team {
  margin-top: 116px;
}

.team__container {
  margin-left: -60px;
  margin-right: -60px;
}

.team__item {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.team__item:hover {
  -webkit-box-shadow: 0px 0px 31px -23px #2a2a2a;
          box-shadow: 0px 0px 31px -23px #2a2a2a;
}

.team__item--cover {
  width: 100%;
  height: 360px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.team__item--cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.team__item--title {
  margin-top: 28px;
  color: #343643;
  font-size: 18px;
}

.team__item--desc {
  margin-top: 8px;
  color: #5D5E69;
  font-size: 14px;
}

.team__detail--item {
  margin-bottom: 39px;
}

.team__detail--cover {
  max-height: 560px;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.team__detail--cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__detail--linked {
  margin-top: 26px;
  color: #000;
  font-size: 14px;
}

.team__detail--linked img {
  margin-right: 14px;
}

.company__container {
  margin-left: -60px;
  margin-right: -60px;
}

.company__item {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  display: block;
}

.company__item:hover {
  -webkit-box-shadow: 0px 0px 31px -23px #2a2a2a;
          box-shadow: 0px 0px 31px -23px #2a2a2a;
}

.company__item--cover {
  width: 100%;
  height: 280px;
}

.company__item--cover img {
  display: block;
}

.footer {
  padding: 59px 0;
}

.footer__text {
  margin-top: 29px;
  color: #9495A5;
  font-size: 16px;
}

.footer__text--by a {
  color: #343643;
}

.footer__soc--item {
  list-style: none;
}

.footer__soc--link {
  margin-left: 12px;
  text-decoration: none;
}

.footer__menu {
  margin-top: 29px;
}

.footer__menu--item {
  margin-left: 24px;
  list-style: none;
}

.footer__menu--link {
  color: #9495A5;
  font-size: 16px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */