@font-face {
  font-family: 'firago';
  src: url('../fonts/FiraGO-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'firago Bold';
  src: url('../fonts/FiraGO-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'firago medium';
  src: url('../fonts/FiraGO-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'firago cam';
  src: url('../fonts/FiraGO-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'firago cam Bold';
  src: url('../fonts/FiraGO-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'helvetica';
  src: url('../fonts/helvetica.ttf');
}

@font-face {
  font-family: 'helvetica-bold';
  src: url('../fonts/helvetica-bold.ttf');
}