.about {
    margin-top: 58px;

    &__text {
        color: #5D5E69;
        font-size: 16px;
        line-height: 24px;
    }
}

.team {
    margin-top: 116px;

    &__container {
        margin-left: -30px;
        margin-right: -30px;
    }

    &__item {
        width: 100%;
        margin-bottom: 10px;
        transition: .3s;

        &:hover {
            box-shadow: 0px 0px 31px -23px #2a2a2a;
        }
        
        &--cover {
            width: 100%;
            height: 360px;
            border-radius: 12px 12px 0 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px 12px 0 0;
            }
        }

        &--title {
            margin-top: 28px;
            color: #343643;
            font-size: 18px;
        }

        &--desc {
            margin-top: 8px;
            color: #5D5E69;
            font-size: 14px;
        }
    }

    &__detail {
        &--item {
            margin-bottom: 39px;
        }

        &--cover {
            max-height: 560px;
            height: 100%;
            margin-right: 55px;
            border-radius: 12px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--linked {
            margin-top: 26px;
            color: #000;
            font-size: 14px;

            img {
                margin-right: 14px;
            }
        }
    }
}

.nohover {
    &:hover {
        box-shadow: 0px 6px 54px transparent !important;
    }
}

.company {
    &__container {
        margin-left: -30px;
        margin-right: -30px;
    }

    &__item {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 12px;
        overflow: hidden;
        display: block;

        &:hover {
            box-shadow: 0px 0px 31px -23px #2a2a2a;
        }

        &--cover {
            width: 100%; 
            height: 280px;
        }

        &--figure {
            width: 100%;
            height: 100%;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;

            img {
                display: block;
            }
        }
    }
}