.consultation{
    background: rgb(216,236,255);
    background: linear-gradient(90deg, rgba(216,236,255,1) 0%, rgba(249,239,255,1) 100%);
    border-radius: 14px;
    overflow: hidden;
    padding: 100px 120px;

    &__form {
        width: 50%;
        padding-right: 70px;

        &--selectpicker {
            width: 100%;
            margin-left: 20px;
        }
        
        &--textarea {
            margin-top: 14px;
            resize: none;
        }

        &--input {
            width: 100%;
            background-color: #fff;
            padding: 19px 30px;
            border-radius: 8px !important;
            overflow: hidden;
            outline: none;
            border: none;

            &--text {
                color: #9495A5 !important;
                font-size: 14px;
            }

            &.dropdown-toggle span.text {
                color: #9495A5 !important;
                font-size: 14px;
            }
        }

        &--dropdown {
            margin-top: 10px;
            padding: 0px !important;
            border: none !important;
            box-shadow: 0px 6px 56px #9799C129 !important;
            border-radius: 4px !important;

            ul {
                margin-top: 0 !important;
                margin-bottom: 0 !important;

                li {
                    margin:  10px;
                    padding: 0 !important;

                    &.selected {
                        color: #9495A5 !important;
                        background: transparent !important;
                    }
    
                    &:hover {
                        background: transparent !important;
                    }
                }
            }
        }

        &--button {
            margin-top: 40px;
            padding: 17px 82px;
            color: #fff;
            font-size: 16px;
            background-color: #343643;
            border-radius: 8px;
            border: none;
            outline: none;
        }
    }

    &__text {
        width: 50%;
        padding-left: 70px;

        &--title {
            margin-bottom: 40px;
            color: #343643;
            font-size: 34px;
        }

        &--desc {
            color: #9495A5;
            font-size: 16px;
        }
    }
}

.contact {
    &__list {
        padding-left: 140px;
        border-left: 1px solid rgba(#9495A5, .16);

        &--item {
            list-style: none;
            margin-bottom: 32px;
        }

        &--link {
            color: #343643;
            font-size: 16px;
            text-decoration: none;

            img {
                margin-right: 24px;
            }
        }
    }
}