.insurance {
    &__tab {
        max-width: 546px;
        width: 100%;

        &--item {
            height: 109px;
            position: relative;

            &.active {
                .insurance__tab--num-in {
                    width: 54px;
                    height: 54px;
                    border: 1px solid #7948CE;
                    color: #7948CE;
                }

                .insurance__tab--title {
                    color: #343643;
                    font-size: 20px;
                }

                // .insurance__tab--line {
                //     background-color: #7948CE;
                // }
            }
        }

        &--num-out {
            position: relative;
            height: 100%;
        }

        &--num {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            border: 1px solid transparent;
        }

        &--num-in {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            border: 1px solid #DEDFE4;
            background-color: #fff;
            color: #9495A5;
            font-size: 18px;
        }

        &--line {
            width: 1px;
            height: 100%;
            background-color: #DEDFE4;
            display: block;
            position: absolute;
            bottom: 0;
            z-index: -1;
        }

        &--title {
            padding-top: 12px;
            padding-left: 40px;
            color: #9495A5;
            font-size: 18px;
        }
    }

    &__form {
        width: 100%;
        padding-left: 43px;

        &--btn {
            border: 1px solid #7948CE;
        }
    }

    &__info {
        background-color: #fff;
        padding: 48px 35px;
        margin-left: -35px;
        margin-right: -35px;
        border: 8px;
        border-bottom: 1px solid #DEDFE4;

        svg {
            stroke: #343643;
            margin-right: 27px;
            transform: rotate(-90deg);
            margin-top: 8px;
        }

        &.active {
            box-shadow: 0px 6px 54px rgba(151, 153, 193, 0.16);

            svg {
                stroke: #7948CE;
                transform: rotate(0deg);
            }
        }

        &--item {
            width: 100%;
        }

        &--head {
            color: #343643;
            font-size: 18px;

            &.active {
                color: #7948CE;
            }
        }

        &--body-in {
            width: 100%;
            padding: 12px 0;
        }

        &--body {
            display: none;
            padding-top: 12px;

            &.active {
                display: block;
            }
        }

        &--title {
            color: #9495A5;
            font-size: 14px;
        }

        &--desc {
            max-width: 60%;
            color: #343643;
            font-size: 16px;
            text-align: right;

            a {
                color: #7948CE;
                text-decoration: none;
            }
        }
    }
}
.tab {
    display: none;

    &__title {
        margin-bottom: 28px;
        color: #343643;
        font-size: 18px;
    }

    &__item {
        margin-bottom: 23px;

        &--section-title {
            margin-top: 29px;
            color: #343643;
            font-size: 16px;
        }

        &--title {
            color: #9495A5;
            font-size: 14px;
        }

        &--desc {
            color: #343643;
            font-size: 16px;
        }

        &--sms {
            position: relative;
        }

        &--sms-btn {
            margin-top: 24px;
            position: absolute;
            right: 22px;
            color: #7948CE;
            font-size: 14px;
            cursor: pointer;
            font-weight: 100;
        }

        &--sms-input {
            margin-bottom: 0;
            color: #9495A5;
            font-size: 14px;
            font-weight: 100;
        }
    }
}
  
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

.ganvadeba {
    display: none;
}

.add-drive {
    margin-top: 24px;
    display: flex;
    border: none;
    background: transparent;
    outline: none;
    color: #7948CE;
    font-size: 16px;

    img {
        margin-right: 6px;
    }
}

.driver-form {
    margin-bottom: 30px;
    display: none;

    &.active {
        display: block;
    }
}

.yesorno {
    display: none;
}

.js-driver-license {
    display: none;
}

.insource-for {
    display: none;
}