*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: left;
}
a:focus, a:hover {
    color: unset;
    text-decoration: unset;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: unset;
    border: unset;
}
.btn.focus, .btn:focus, .btn:hover {
    color: 'unset';
}
.btn {
    width: 100%;
    border-radius: 8px;

    &--blue {
        background-color: #7948CE;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    &--light {
        background-color: #fff;
        color: #7948CE;

        &:hover {
            color: #7948CE;
        }
    }
}

.title {
    color: #343643;
    font-size: 24px;
}
.section-title {
    margin-bottom: 59px;
}