*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: left;
}
a:focus, a:hover {
    color: unset;
    text-decoration: unset;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: unset;
    border: unset;
}
.btn.focus, .btn:focus, .btn:hover {
    color: unset;
}
label {
    margin: 0;
    font-weight: 100;
}
.btn {
    width: 100%;
    border-radius: 8px;
    border: none;

    &--blue {
        background-color: #7948CE;
        color: #fff;

        &:hover, &:focus {
            color: #fff;
        }
    }

    &--light {
        background-color: #fff;
        color: #7948CE;

        &:hover, &:focus {
            color: #7948CE;
        }
    }
}

.title {
    color: #343643;
    font-size: 24px;
}
.section-title {
    margin-bottom: 59px;
}

.page {
    &__title {
        margin-top: 77px;
    }
}

.hover {
    transition: .3s;

    &--text {
        padding: 0 30px 40px 30px;
    }

    &--image {
        transition: .3s;
        padding: 30px 30px 0 30px;
    }

    &:hover {
        .hover--image {
            padding: 0;
        }
    }
}

input::-moz-placeholder{
    color:#9495A5;
    opacity:1
}

input:-ms-input-placeholder{
    color:#9495A5;
}

input::-webkit-input-placeholder{
    color:#9495A5;
}

textarea::-moz-placeholder{
    color:#9495A5;
    opacity:1
}

textarea:-ms-input-placeholder{
    color:#9495A5;
}

textarea::-webkit-input-placeholder{
    color:#9495A5;
}